h3{
    text-align: center;
}

.menu{
    width: 305px;
    height: 60px;
    background-color: rgb(19, 19, 65);
    color: white;
    border: 1px solid white;
}

.container{
    width:100%;
    height:100vh;
    background-color: lightsteelblue;
    display: grid;
    grid-template-columns: 1fr ;
    align-content: start;

}

a{
  text-decoration: none;
  color: white;
}

.menu:hover{
    background-color: rgb(62, 130, 172);
}