body{
    background-color: rgb(74, 74, 238);
    align-items: center;
    justify-content: center;
}

h1{
    text-align: center;
    color: white;
}

input{
    margin-left: 600px;
    padding: 10px;
    width: 20%;
    margin-bottom: 10px;
    font-size: large;
}
 
#add-item{
    margin-left: 720px;
    width: 80px;
    background-color: black;
    color: white;
    padding: 10px;
}

ul{
    list-style-type: none;
}

